*{
  background-color: bisque;
}

.samer{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items:center;
  border-style: solid;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 35px;
  border-radius: 7%;
  background-color: aliceblue;
  
}
h3{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bb{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
